" vim configs for Jetbrain Intellij
" Author: Shubham A. Mehetre (smehetre.xyz)
" Ref: https://gist.github.com/zchee/9c78f91cc5ad771c1f5d

let mapleader=" "

set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set number relativenumber
set history=1000

" easy window navigation
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

" tabs
nnoremap <c-tab> gt
nnoremap <c-s-tab> gT
nnoremap <c-w> :action CloseEditor<CR>

" vim built-in forward/backward navigation
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" cute tricks
	nnoremap <silent> <esc> :noh<cr><esc>

" code stuff
nnoremap <leader>cr :action RenameElement<cr>
nnoremap <leader>s <ESC>:action FileStructurePopup<CR>
nnoremap <leader>u :action FindUsages<CR>

" misc
nnoremap <leader>pm :action EditorPopupMenu<CR>
nnoremap <leader>rq :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>gm :action Git.Menu<CR>
" nnoremap <leader>fp :action FindInPath<CR> " just use <c-s-f>
nnoremap <leader>h  :action HighlightUsagesInFile<cr>

" code navigation
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>qi :action QuickImplementations<CR>
nnoremap <leader>gs :action GotoSuperMethod<CR>
nnoremap <leader>ga :action GotoAll<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap [d         :action GotoPreviousError<CR>
nnoremap ]d         :action GotoNextError<CR>

" lint actions
nnoremap <c-k> :action ShowIntentionActions<CR>

" run n debug
nnoremap \R :action RunClass<cr>
nnoremap \r :action Run<cr>
nnoremap \D :action DebugClass<cr>
nnoremap \d :action Debug<cr>
nnoremap \c :action CheckStyleCurrentFileAction<cr>
nnoremap \b :action ToggleLineBreakpoint<CR>

" Activate windows
nnoremap <leader>z :action ActivateTerminalToolWindow<CR>
nnoremap <leader>n :action ActivateProjectToolWindow<CR> :action SelectInProjectView<CR>
nnoremap <leader>rt :action ActivateRunToolWindow<CR>
nnoremap <leader>mp :action ActivateMavenProjectsToolWindow<CR>
nnoremap <leader>b :action BuildMenu<CR>

""""""""""""""""""""""""""TESTING PURPOSE""""""""""""""""""""""""""
" project actions"
nnoremap <leader>v :action SelectInProjectView<CR>
nnoremap <leader>w :action HideAllWindows<CR>
" windows actions
nnoremap <leader>e :action Switcher<CR>

nnoremap <leader>bn :action NextProjectWindow<CR>
nnoremap <leader>bp :action PreviousProjectWindow<CR>
nnoremap <leader>b; :action OpenProjectWindows<CR>
" comment
nnoremap <c-/> :action CommentByLineComment<CR>
vnoremap <c-/> :action CommentByBlockComment<CR>
